# Github credentials for onPut and onDelete
GITHUB_PERSONAL_ACCESS_TOKEN=

# Required when building locally
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_BRANCH=

# Used by NextAuth.js to encrypt JWT
NEXTAUTH_SECRET=changeme

# Used by Vercel KV
KV_REST_API_URL=
KV_REST_API_TOKEN=

